# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Always use color output for `ls`
alias ls='ls -F --color=auto'

# List all files colorized in long format
alias ll='ls -lF --color=auto'

# List all files colorized in long format, excluding . and ..
alias la='ls -lAF --color=auto'

# List only directories
alias lsd="ls -lF --color=auto | grep --color=never '^d'"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
